@import 'src/styles/variables.scss';

.login-sol {
  .login-background,
  .login-container,
  .login-header,
  .login-form,
  .login-footer {
    @include flex(center, center, column);
  }

  .login-background {
    width: 100vw;
    height: 100vh;
    background-color: #f9f9f9;
  }

  .login-container {
    justify-content: space-between;
    width: 350px;
    height: 350px;
    padding: 30px;
    background-color: white;
    border: 1.5px solid #ededed;
  }

  .login-header {
    padding: 10px 0 10px 0;
  }

  .logo {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-weight: bold;
  }

  .login-form {
    input {
      display: block;
      width: 250px;
      height: 35px;
      margin-top: 5px;
      padding: 5px;
      padding-left: 10px;
      border: 1px solid #ededed;
      border-radius: 3px;
      background-color: #f9f9f9;
      &::-webkit-input-placeholder {
        color: #8e8e8e;
        font-size: 12px;
      }
      &::-moz-placeholder {
        color: #8e8e8e;
        font-size: 12px;
      }
      &:-ms-input-placeholder {
        color: #8e8e8e;
        font-size: 12px;
      }
      &::-ms-input-placeholder {
        color: #8e8e8e;
        font-size: 12px;
      }
      &::placeholder {
        color: #8e8e8e;
        font-size: 12px;
      }
    }
  }

  .login-btn {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0e7ff4;
    color: white;
    cursor: pointer;
  }

  .disabled-btn {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .login-footer a {
    color: #163562;
    font-size: 12px;
    text-decoration: none;
  }
}
