@import 'src/styles/variables.scss';

.signup {
  @include flex(center, center, column);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.5);
  * {
    @include flex(center, center, column);
  }
  .signup-container {
    justify-content: space-between;
    width: 350px;
    padding: 30px;
    background-color: white;
    border: 1.5px solid #ededed;
  }
  header {
    padding: 10px 0 10px 0;
    h1 {
      font-family: 'Lobster', cursive;
      font-size: 40px;
      font-weight: bold;
    }
  }
  .signup-form {
    input {
      display: block;
      width: 250px;
      height: 35px;
      margin-top: 5px;
      padding: 5px;
      padding-left: 10px;
      border: 1px solid #ededed;
      border-radius: 3px;
      background-color: #f9f9f9;
      &::-webkit-input-placeholder {
        color: #8e8e8e;
        font-size: 12px;
      }
      &::-moz-placeholder {
        color: #8e8e8e;
        font-size: 12px;
      }
      &:-ms-input-placeholder {
        color: #8e8e8e;
        font-size: 12px;
      }
      &::-ms-input-placeholder {
        color: #8e8e8e;
        font-size: 12px;
      }
      &::placeholder {
        color: #8e8e8e;
        font-size: 12px;
      }
    }
    button {
      width: 250px;
      height: 30px;
      margin-top: 10px;
      border: none;
      border-radius: 5px;
      background-color: #0e7ff4;
      color: white;
      cursor: pointer;
    }
  }
}
